@model CartViewModel


    

<div>
    <h1>Total pris: @Model.Total</h1>
    @foreach (var item in Model.CartItems)
    {
        <h2>@item.CategoryName</h2>
        <h2>@item.Name</h2>
        @*<p>Ingredients: @string.Join(",", item.Ingredients.OrderBy(x => x.DishIngredients).Select(x => x.Name))</p>*@
        <p>@item.Price</p>
        @string.Join(",", item.Ingredients.OrderBy(x => x.Name).Where(x=> x.Selected).Select(x => x.Name))
        <br/>
        <a asp-action="Edit" asp-controller="Cart" asp-route-id="@item.Id">Ändra</a>

    }
    

</div>



